{% extends "news/base.html" %}
{% block content%}
    <article class="media content-section">
        <div>
            {% for n in NewsPiece%}
                <div>
                    <img class="pull-left" src="https://logo.clearbit.com/NewYorkTimes.com"/>
                </div>
                <div>
                    <h1>
                        <a href="{{ n.url }}">
                            {{ n.title }}
                        </a>
                    </h1>
                    <h3>
                        {{ n.blurb }}
                    </h3>
                </div>
            {% endfor %}
        </div>
    </article>
{% endblock content%}

